<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
	Design by Free CSS Templates
	http://www.freecsstemplates.org
	Released for free under a Creative Commons Attribution 2.5 License
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{% block title %}{% endblock %}</title>
<link href="/static/css/default.css" rel="stylesheet" type="text/css" />
<link rel="icon" href="/static/favicon.ico">
{% endblock %}
</head>
<body>
<div id="outer">
	<div id="header">
		<h1><a href="/">Rtool</a></h1>
		<h2>Performance Review System</h2>
	</div>
    <div id="menu">
		<ul>
			
		</ul>
	</div>
	<div id="content">
        {% if msg %}
		<div id="primaryContentContainer">
			<div id="primaryContent">
				{% block content %}
                {% endblock %}
			</div>
		</div>
		<div id="secondaryContent">
            {% block menu %}
            <h3>{% block menu_title %}<br><br>{% endblock %}</h3>
            <br><br>
            <ul>
				{% block menu_items %}{% endblock %}
			</ul>
            {% endblock %}
		</div>
		<div class="clear"></div>
	</div>
    {% else %}
    <script type="text/javascript">
        location.replace("login");
    </script>
    {% endif %}
	<div id="footer">
        {% block footer %}
		<p>Copyright &copy; 2011 </p>
	 {% endblock %}
    </div>
</div>
</body>
</html>
