<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
	Design by Free CSS Templates
	http://www.freecsstemplates.org
	Released for free under a Creative Commons Attribution 2.5 License
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{% block title %}{% endblock %}</title>
<link href="/static/css/default.css" rel="stylesheet" type="text/css" />
{% endblock %}
</head>
<body>
<div id="outer">
	<div id="header">
		<h1><a href="#">Rtool</a></h1>
		<h2>Performance Review System</h2>
	</div>
	<div id="menu">
		<ul>
			<li class="first"><a href="/" accesskey="1" title="">Home</a></li>
		</ul>
	</div>
	<div id="content">
		<div id="primaryContentContainer">
			<div id="primaryContent">
				{% block content %}{% endblock %}
			</div>
		</div>
		<div id="secondaryContent">
            {% block menu %}
			<h3>Menu</h3>
			<ul>
				<li><a href="#">Sagittis Bibendum Erat</a></li>
				<li><a href="#">Malesuada Turpis</a></li>
				<li><a href="#">Quis Gravida Massa</a></li>
				<li><a href="#">Inerat Viverra Ornare</a></li>
			</ul>
            {% endblock %}
		</div>
		<div class="clear"></div>
	</div>
	<div id="footer">
        {% block footer %}
		<p>Copyright &copy; 2006 Sitename.com. Designed by <a href="http://www.freecsstemplates.org">Free CSS Templates</a></p>
	 {% endblock %}
    </div>
</div>
</body>
</html>
