{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<h1>About System</h1>
        <br>
<p align="justify">
    A performance appraisal, employee appraisal, performance review, or (career) development discussion is a method by which the job performance of an employee is evaluated (generally in terms of quality, quantity, cost, and time) typically by the corresponding manager or supervisor. A performance appraisal is a part of guiding and managing career development. It is the process of obtaining, analyzing, and recording information about the relative worth of an employee to the organization. Performance appraisal is an analysis of an employee's recent successes and failures, personal strengths and weaknesses, and suitability for promotion or further training. It is also the judgement of an employee's performance in a job based on considerations other than productivity alone.
</p>
{% endblock %}
    {% block menu %}
        <h3>{% block menu_title %}Main Menu<br><br>{% endblock %}</h3>
                <ul>
				{% block menu_items %}
                <li class="selected"><a href="/">About System</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/event">Events</a></li>
                {% endblock %}
		       	</ul>
    {% endblock %}
